
	<!-- footer -->
	<footer class="footer-content">
		<div class="container">
			<div class="row copyright">
				<div class="col-12">
					© {{ "now"|date("Y") }} {{siteName}}
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 footer-about">
					<p>
						This Website incl. Design was created by
						<!-- TODO improve support for development links -->
						<a href="home.html#about">{{owner.name}}</a>.
					</p>
					<p>
						Last updated {{lastUpdated|date("d.m.Y")}}.
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="{{workspaceUri}}/js/jquery.js"></script>

	<!-- Needed for menu and scrollspy-->
	<script src="{{workspaceUri}}/js/bootstrap.js"></script>

	<!-- Custom JavaScript -->
	<script src="{{workspaceUri}}/js/main.js"></script>
</body>

</html>
