<!DOCTYPE html>
<html>

<head>
	<title>
		{{currentPage.name}} - {{siteName}}
	</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Description-->
	<!--Author-->
	<meta name="author" content="{{owner.name}}">
	<!--Open Graph Title-->
	<meta property="og:title" content="{{siteName}}">
	<!--Open Graph Site Name-->
	<meta property="og:site_name" content="{{siteName}}">
	<!--Type page-->
	<meta property="og:type" content="website">
	<!--Page Cover-->
	<meta name="twitter:card" content="summary">
	{% if currentPage.description %}
	<meta name="description" content="{{currentPage.description}}">
	{% else %}
	<meta name="description" content="Dies ist website von {{siteName}}">
	{% endif %}
	<!-- Title -->
	<title>{{siteName}}</title>
	<!-- Custom CSS -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/bootstrap.min.css">
	<!-- CSS decryptor -->
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{workspaceUri}}/css/font-awesome.css">
</head>

<body>

	<!-- navigation -->
	{% if pages|length > 0 and (not (currentPage.hideNavigation)) %}
	<nav id="mainMenu" class="navbar navbar-expand-md navbar-light {{teaserClass|e}}">
		<a class="navbar-brand" href="#">
			{{logo|raw}}
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fas fa-bars"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% if not (currentPage.hideNavigation) %}
			<ul class="nav navbar-nav mr-auto">
				{% for item in pages %}
				{% if not (item.hideInMainMenu) %}
					<li class="nav-item">
						{% set href = item.href %}
						{% if (not (item.href starts with 'http')) and (item.href ends with '.html') %}
							{% set prefix = "" %}
							{% if (pagesLinkPrefixEnabled == true) %}
								{% set prefix = pagesLinkPrefix %}
							{% endif %}
							{% if (item.anchor and currentPage.href == item.href) %}
								{% set href = "#" ~ item.anchor %}
							{% else %}
								{% set href = prefix ~ item.href %}
							{% endif %}
						{% endif %}
						<a class="nav-link {% if item.name == currentPage.name %}active{% endif %}" href="{{ href|e }}">
							{{ item.name|e }}
						</a>
					</li>
					</span>
					{% endif %}
					{% endfor %}
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% endif %}		
